#nav-logo {
    height: 50px;
    width: 50px;
}


header {
    background-color: #006a96;
}

.content {
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding-right: 12px;
}


nav * {
    display: inline;
    margin: 0px;
    padding: 0px;
    color: white;
    background: none;
    border: none;
    font-size: 24px;
}


#nav-title h1 {
    font-weight: bold;
    font-size: 28px;
}

#nav-title > *,
nav > * {
    vertical-align: middle
}

nav a {
    text-decoration: none;
}

nav > ul {
    padding-left: 0px;
}


nav > ul > li {
    padding-left: 5px;
    padding-right: 5px;
}

nav li > *:hover,
nav li > *:hover *,
nav li > *:focus-within,
nav li > *:focus-within * {
    color: #ffcd00;
}

@media (min-width: 600px) {
    #nav-hamburger {
        display: none;
    }
}

@media (max-width: 500px) {
    nav {
        font-size: 18px;
    }
}

#modal-background {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 10;
}

#login-modal {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 300px;
    height: 200px;
    margin: auto;
    background-color: white;
    padding: 10px;
    border: solid black 0.5px;
    border-radius: 3px;
    z-index: 11;
}

.org-logo {
    height: 200px;
    width: 200px;
    background-color: black;
}


#event-meta {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

#event-meta > h1 {
    margin-bottom: 0;
}

#event-meta > h2 {
    margin-bottom: 0;
}

#org-meta {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

#org-meta > h1 {
    margin-bottom: 0;
}
main.content button, .button {
    background-color: #006a96;
    color: white;
    padding: 10px;
    font-size: 18px;
    margin: 3px;
    border: 0px;
    text-decoration: none;
    border-radius: 5px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
}

main.content button:hover, .button:hover {
    color: #ffcd00;
}

.event-detail-field {
    font-weight: bold;
}

.edit-field {
    display: block;
    margin: 8px;
}
.edit-field > input{
    margin: 8px;
}

.no-scroll-list {
    list-style: none;
    padding: 10px;
}

.no-scroll-item {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.event-preview-wide {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    background-color: white;
    border: solid #FFCD00 3px;
    border-radius: 8px;
}

.event-preview-square {
    width: 230px;
    height: 200px;
    background-color: white;
    overflow: hidden;
    border: solid #FFCD00 3px;
    border-radius: 8px;
}

.side-scroll-list {
    list-style: none;
    padding: 0px;
    white-space: nowrap;
    overflow: scroll;
}

.side-scroll-item {
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.settings-item * {
    display: inline;
    font-size: 18px;
}
.settings-item  {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}
